/* change layout based on size! */
* {
  box-sizing: border-box;
}

:root {
  --black: #112;
  --dark-grey: #1a1b1b;
  --bg: #999;
  --white: #eef;
  --light-blue: #88a3d8;
  --blue: #104fcb;
  --cyan: #41b1e1;
  --cyan-overlay: #41b1e1aa;
  --red: #EE6352;
  --dark-red: #F13030;
  --overlay: #fff6;
  --dark-overlay: #1128;
  --see-through: #0000;

  --light-shadow: color-mix(in oklab,var(--dark-grey) 20%, var(--see-through));
  --shadow: color-mix(in oklab,var(--dark-grey) 40%, var(--see-through));
}

body {
  background-color: var(--bg);
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  max-width: max-content;
  min-height: 100dvh;
  isolation: isolate;
}

.number-coordinate::before,
.letter-coordinate::after {
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
  opacity: 0.75;
}

.number-coordinate::before {
  content: attr(numberCoord);
  inset: 1.25rem -1rem;
  text-align: left;
}

.letter-coordinate::after {
  content: attr(letterCoord);
  inset: 4rem 0 -2rem;
  text-align: center;
}

main[data-coordinates="inside"] .number-coordinate::before {
  inset: 0;
}

main[data-coordinates="inside"] .letter-coordinate::after {
  inset: 2.75rem 0 0 3rem;
}

.fill-board {
  grid-area: 1/2/10/10;
}

.letters {
  display: flex;
}

.hover-piece {
  position: fixed;
  pointer-events: none;
  translate: -50% -50%;
  display: none;
}

.promotion-popup {
  background-color: var(--overlay);
  border-collapse: collapse;
  padding-right: 1rem;
  min-width: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  transform: translateX(110%);
  z-index: -1;
  opacity: 0;
}

.promoteTo {
  min-width: max-content;
  border: none;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}

.promoteTo:hover {
  box-shadow: inset 0 0 1.5rem 0 var(--shadow);
}

.board {
  z-index: -1;
  border-collapse: collapse;
  margin: auto;
  border-radius: 1rem;
}

td,
th {
  text-align: center;
  min-width: 4rem;
  height: 4rem;
  position: relative;
}

svg {
  height: 3rem;
}

svg.black {
  fill: var(--dark-grey);
  filter: drop-shadow(3px 3px 2px var(--shadow));
}

svg.white {
  fill: var(--white);
  filter: drop-shadow(3px 3px 2px var(--shadow));
}

th.white,
td.white {
  background-color: var(--light-blue);
}

th.black,
td.black {
  background-color: var(--blue);
}

.side-bar {
  display: grid;
  grid-template-columns: 1rem 3rem 0.8rem 3rem 1rem;
  justify-content: center;
  align-content: space-around;
  background-color: var(--overlay);
  padding: 0.8rem 1rem;
  border-radius: 0 1rem 1rem 0;
  gap: 0.8rem 0;
}

p,
*::before,
*::after,
input,
label,
h2 {
  text-align: center;
  margin: auto;
  font-family:'Trebuchet MS', sans-serif;
  user-select: none;
  font-size: 1rem;
  padding: 0.6rem 0;
  color: var(--black);
}

h2 {
  font-size: 2rem;
  text-align: left;
  margin: 0;
}

.turn {
  width: 100%;
  box-shadow: 5px 5px 5px var(--shadow);
  opacity: 0.5;
  color: var(--text);
  background: var(--background);
  border: 0.4rem none var(--background);
  padding: 8.4px;
  /* height: 3rem; */
}

.turn--white {
  --text: var(--dark-grey);
  --background: var(--white);
  grid-column: 1 / 3;
  border-radius: 1rem 0 0 1rem;
  
}

.turn--black {
  --text: var(--white);
  --background: var(--dark-grey);
  grid-column: 4 / 6;
  border-radius: 0 1rem 1rem 0;
}

.current {
  opacity: 1;
  border-style: solid;
  font-weight: bold;
}

.turn--white.current {
  grid-column: 1 / 4;
}

.turn--black.current {
  grid-column: 3 / 6;
}

.clock {
  background-color: var(--bg);
  box-shadow: inset 5px 5px 5px var(--light-shadow);
  grid-column: 1 / 6;
  height: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.clock p {
  padding: 0;
}

span {
  box-shadow: 5px 5px 5px var(--light-shadow);
  background-color: var(--white);
  text-align: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: .5rem;
  transition: box-shadow .2s, scale .2s;
  display: grid;
  place-items: center;
}

.limit-size {
  width: 4rem;
}

.button-icon svg {
  fill: var(--dark-grey);
  height: 65%;
  stroke: none;
}

span:hover {
  box-shadow: 5px 5px 5px var(--shadow);
  scale: 1.1;
}

input[type="button"],
svg,
span {
  cursor: pointer;
}

.blur-effect {
  position: absolute;
  height: 100%;
  inset: 0;
  backdrop-filter: blur(1px);
  background-color: var(--dark-overlay);
  z-index: 5;
  display: grid;
  place-items: center;
}

.menu {
  width: 25rem;
  margin: auto;
  border-radius: 20px;
  background: var(--blue);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px 5px var(--dark-overlay);
}


.menu input {
  margin: 0;
  padding: 0.5rem 1rem;
  background: 0;
  border: none;
  /* border: 3px solid black; */
  border-radius: 0.5rem;
}

.menu div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.75rem 0;
}

.time input {
  padding: 0 0.5rem;
  text-align: left;
  width: 8rem;
  background: var(--light-blue);
  box-shadow: inset 5px 5px 5px var(--light-shadow), inset 0 0 0 var(--red);
}

::placeholder {
  color: var(--dark-grey);
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.label,
.play {
  flex-basis: 100%;
  font-size: 1.2rem;
  padding-top: 0;
  font-weight: 600;
}

.extra-padding {
  padding-bottom: 1rem;;
}

.against {
  padding-inline: 2.5rem;
}

.against input[type="button"] {
  flex-basis: 47%;
  background: var(--light-blue);
  box-shadow: 5px 5px 5px var(--shadow);
  opacity: 0.5;
}

input[type="button"] {
  transition: scale 0.2s, box-shadow 0.2s;
}

.menu .againstSelected {
  background: var(--white) !important;
  opacity: 1 !important;
}

.menu input[type="button"]:not(.againstSelected):focus-visible,
.menu .against input[type="button"]:not(.againstSelected):hover {
  opacity: 1;
  scale: 1.1;
}

.difficulty svg {
  flex-basis: 16%;
  fill: var(--selected, var(--light-blue));
}

.menu a {
  opacity: 0.5;
  flex-basis: 16%;
  display: grid;
  place-items: center;
  transition: transform 0.5s;
  position: relative;
  isolation: isolate;
  border-radius: 0.5rem;
}

.menu a:not(.difficultySelected, .firstSelected):focus-visible,
.menu a:not(.difficultySelected, .firstSelected):hover {
  transform: scale(1.2);
  opacity: 1;
}

.difficultySelected, .firstSelected {
  --selected: var(--white);
  opacity: 1 !important;
}

.hidden {
  flex-basis: 16%;
  opacity: 0;
}

.both {
  fill: url(#Gradient);
  filter: drop-shadow(3px 3px 2px var(--shadow));
}

.firstSelected::after {
  content: "";
  background: var(--light-blue);
  position: absolute;
  inset: -0.4rem -0.25rem;
  z-index: -1;
  border-radius: 0.5rem;
}

.menu .play {
  width: max-content;
  padding: 1rem 3rem;
  transform-origin: bottom;
  align-self: center;
  margin-top: 1.5rem;
  border-radius: 50vw;
  background: var(--light-blue);
  transition: background 0.5s, scale 0.2s, box-shadow 0.2s;
}

.menu:not(:has(#minute-value:placeholder-shown)) .play:focus-visible,
.menu:not(:has(#minute-value:placeholder-shown)) .play:hover {
  box-shadow: inset 0 0 100px var(--white), 0 5px 15px var(--dark-overlay);
  scale: 1.1;
}

.menu:has(#minute-value:placeholder-shown) .play{
  opacity: 0.5;
  cursor: default;
  background: none;
}

.computer-only {
  transition: height 0.5s, opacity 0.2s 0.3s, margin 0.5s;
  height: 5.05rem;
  opacity: 1;
}

.no-computer .computer-only {
  transition: height 0.5s 0.1s, opacity 0.2s, margin 0.5s 0.1s;
  height: 0;
  opacity: 0;
  margin: 0;
  pointer-events: none;
}

.end-of-game {
  flex-direction: row;
  align-items: center;
  display: none;
}

.end-of-game svg {
  scale: -1 1;
}

[data-effect="selected"]{
  box-shadow: inset 0 0 15px var(--dark-overlay);
}

[data-effect="new"]{
  box-shadow: inset 0 0 15px var(--cyan);
}

[data-effect="previous"]{
  box-shadow: inset 0 0 15px var(--cyan-overlay);
}

[data-effect="check"]{
  box-shadow: inset 0 0 15px var(--dark-red);
}

[data-effect="capture"]{
  box-shadow: inset 0 0 15px var(--red);
  background-image: radial-gradient(var(--dark-overlay) 20%, var(--see-through) 40%);
}

[data-effect="move"]{
  background-image: radial-gradient(var(--dark-overlay) 20%, var(--see-through) 40%);
}


#minute-value[data-effect="check"]{
  box-shadow: inset 5px 5px 5px var(--light-shadow), inset 0 0 15px var(--dark-red);
}


.flick {
  animation: flick .4s;
}

@keyframes flick {
  from, to {
    rotate: 0deg;
  }
  50% {
    rotate: -30deg; 
  }
}

.mirror {
  scale: -1 1;
}


.flip {
  animation: flip .4s;
}

@keyframes flip {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -180deg; 
  }
}